
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
/***********HEADER SECTION START HERE ***************/
.row::after{
    content: '';
    clear: both;
    display: block;

}
#nav{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    border-bottom: 1px solid white;
    z-index: 1;

}
#nav .navstyle{
    background-color: #162146;
}

#nav .navbar-brand img{
    width: 200px;
    margin-bottom:8px ;
    
}

#nav .navbar-nav .nav-link{
    font-weight: bold;
    color:white;
   
    
}
#nav .navbar-nav .nav-link:hover{
    color: #CC563E;
}
/***********HEADER SECTION ENDS HERE ***************/

/***********BANNER SECTION START HERE ***************/

#banner{
    background-image: url("../img/head.jpg");
    height: 660px;
    background-size: cover;
    background-attachment: fixed;
    
}

.content{
    text-align: center;
    color:rgb(228, 225, 225);
    padding-top: 270px;
   
  
}
#banner .content h3{
    font-size: 60px;
}
#banner .shadow{
    width: 100%;
    height: 660px;
    background-color:rgba(0, 0, 0, 0.6);
}
/***********BANNER SECTION ENDS HERE ***************/

/*********** MISSION AND VISSION SECTION START  ***********/
#mission {
    background:rgb(40, 38, 51);
    width:100%;
    padding: 20px 20px;
}

   
#mission .card{
    border:none;
    
}
#mission .Registration-title {
    padding: 7px 10px;
    background-color: rgb(190, 61, 14);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

#mission .Registration-title a{
    color:white;
    font-size: 18px;
   
   
}
#mission .Registration-title,.fa-arrow-circle-right,.fa-angle-double-down{
    color:white;
    font-size: 20px;
    cursor: pointer;
}

 #mission .step {
     min-width:340px;
 }
 #mission .card-body{
     background-color:rgba(150, 173, 201, 0.3);
     color:white;
     height: 500px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     
 }
 #mission .card-body input{
     background-color: transparent;
     border-bottom: 1px solid white;
     border-top:0px solid rgba(150, 173, 201, 0.3);
     border-left:0px solid rgba(150, 173, 201, 0.3);
     border-right:0px solid rgba(150, 173, 201, 0.3);
     color:#e6e7e7;
     
 }
#mission .card-body button{
    background-color:rgb(190, 61, 14) ;
    outline: none;
    border:none;
    padding: 10px 15px;
    margin-top: 40px;
    color:white;
    border-radius: 3px;
    cursor: pointer;
}
#mission .card-body .button{
    background-color: rgba(209, 58, 58, 0.6);
   
}
#mission .card-body img{
    vertical-align: middle;
    border-style: none;
}
.w-100 {
    width:100% !important;
}
/*********** MISSION AND VISSION SECTION ENDS  ***********/

/******** Constitution Section Start Here  ************/
#elearn {
    background-color: #98C1D9;
}

#elearn .header-text .btn-style{
    background-color: rgb(190, 61, 14);
    color:white;
   margin-bottom: 10px;
}
#elearn .header-text .btn-style:hover{
    background-color:rgb(40, 38, 51) ;
    transition: 0.5s;
}
#elearn img{
    width:360px;
    float: right;
}
/******** Constitution Section Ends Here  ************/

#rules{
    background-color:  #37343c ;
    color:white;
}
#rules .left,.fa-arrow-circle-right,.fa-angle-double-down{
    color:white;
    font-size: 20px;
    cursor: pointer;
}
#rules .header{
    background-color: rgb(190, 61, 14);
    padding: 0px 10px ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 0px 1px rgb(190, 61, 14) ;
    cursor: pointer;
    

}
#rules .header button{
    color:white;
}
#rules .body{
    background-color:#50829e ;
    padding: 10px 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 
    
}
/* L-elerang ends here */

/********** Our Team Section Start Here  **********/
#team{
    background-color: #37343c;
}
#team .card{
    background-color: pink;
    box-shadow: 0 5px 15px rgb(0 0 0 / 25%);
    overflow: hidden;
    padding-bottom: 40px;
    margin-top: 10px;
    position: relative;
   

   
}
#team .card .imgbox{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    cursor: pointer;
    
}

#team .card .ditails h4{
    color: #162146;
    margin: 0;
    font-size: 15px;
    font-family: sans-serif;
    
    
}
#team .card .ditails h5{
    color: #162146;
    margin: 0;
    font-size: 13px;
}
#team .card .ditails{
    background-color: #86b9d6;
    position: absolute;
    width:100%;
    bottom: -38px;
    color:#000;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 0 0 rgb(0 0 0 / 0%);
   
}

#team .card .ditails .social-icon{
    list-style: none;
    margin: 0;
    padding: 0;

}
    

#team .card .ditails .social-icon li{
    float: left;
    width:25%;
    
}
#team .social-icon li a {
    color: #162146;
}
#team .social-icon li a:hover{
    color: rgb(150, 52, 17);
    transition: 0.3s;
}
#team .card:hover .ditails{
    bottom:0px;
    transition: 0.6s;
}

#ourteam {
    background: #98C1D9
}
#ourteam .card {
    background-color: rgb(0,0,0,0.2);
}
#ourteam .card-body{
    flex:1 1 auto ;
    min-height: 1px;
    padding: 1.5rem;
}
#ourteam .card,.card-body,.fa-chalkboard-teacher,.fa-database,.fa-network-wired,.fa-server,.fa-code,.fa-android{
    font-size: 55px;
	margin-bottom: 20px;
    color: #CC563E;
}
#ourteam .card .card-body h6{
    color:#000;
}
/********** Our Team Section Ends Here  **********/

/********** Tutorials Section Start Here  ***********/
#tutorial {
    background-color: #37343c;
}
#tutorial .card{
    background-color: #CC563E;
    padding: 10px 15px;
    margin-top: 5px;
}
#tutorial .card a{
    color:white;
}

/********** Tutorials Section Ends Here  ***********/


.second-bg {
    background: #98C1D9;
}

 /* #gallery .imagebox .overlay{
     position: relative; 
}  

#gallery .imagebox .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
  
 
   
} */

#gallery img{
    width: 100%;
    
   
    
}



/****** galleray ends here ***********/ 
#contact{
    background-color: #162146;
    color:white;
}
#contact input{
    padding: 10px ;
    box-sizing: border-box;
    background-color: #6293af;
    border:1px solid #fff;
    border-radius: 3px;
}
#contact .form-group{
    padding: 16px;
    
}
#contact .form-control {
    background-color: #6293af !important;
    color:black;
}
#query-call{
    background-color: #86b9d6;
    width:100%;
}
#query-call .query-now{
    padding: 15px  0px;
}

/* Footer section Start here  */
#footer{
    background-color: #162146;
}
#footer .logo img{
    width:180px;
}
#footer p{
    color:white;
}
#footer .icons,.fa-facebook,.fa-linkedin,.fa-twitter,.fa-youtube{
    font-size: 33px;
   letter-spacing: 18px;
   cursor: pointer;
   color:rgb(224, 215, 215);
}
#footer .icons,.fa-facebook:hover{
    color:#CC563E;
}
#footer .icons,.fa-linkedin:hover{
    color:#CC563E;
}
#footer .icons,.fa-twitter:hover{
    color:#CC563E;
}
#footer .icons,.fa-youtube:hover{
    color:#CC563E;
}
#footer ul li {
    color:white;
    margin-left: 40px;
}
#footer ul li a{
    color:white;

   
}
.footer {
    background-color: #000;
    margin: 0;
}
